.App {
  text-align: center;
  background-color: #FFFFFF;
}

.App-title {
  font-size: 1.5em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes test-animation {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}

.title {
  animation: App-logo-spin;
  animation-duration: 4s;
  color: green;
}

.App-Todo {
  background-color: #FFCCAA;
  text-align: center;  
  text-color: #FFFFFF;
  display: table;
  margin: 0 auto;
  min-height: 100px;
}
.App-Done {
  background-color: #AABBFF;
  text-align: center;  
  display: table;
  margin: 0 auto;
  min-height: 100px;
}

.ItemDone{
  min-width: 400px;
  max-width: 800px;
  text-align: left;
}
.ButtonDone{
  background-color: #AAFFAA;

}
.ItemUndo{
  min-width: 400px;
  max-width: 800px;
  text-align: left;
}
.ButtonUndo{
  background-color: #FFAAAA;
}
